body {
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: #2B2B2B;
}

.link {
  text-decoration: none;
  color: #33FFFF;
}

#author {
  color: white;
}

#calculator_frame {
  width: 300px;
  height: 400px;
  background-color: lavender;
  box-shadow: 0px 3px 5px 1px silver;
  margin: 100px auto 20px auto;
  border-spacing: 0rem;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  overflow: hidden;
}

button {
  font-size: 175%;
  font-family: 'Cinzel', serif;
  border: none;
  background-color: lavender;
  height: 100%;
  width: 100%;
}

#output_parent {
  background-color: black;
}

#output {
  font-size: 200%;
  height: 40px;
  color: white;
}

.operator_button {
  background-color: #483D8B;
  color: white;
}

.top_row_button {
  background-color: #D0D0D0;
}